* {
    font-family: 'Roboto Condensed', sans-serif;
}
p,h2 {
    width: 100%;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}
body {
    background-color: #eeeeee;
    color: #222831
}
h1 {
        width: 100%;
        text-align: center;
        font-family: 'Roboto Condensed', sans-serif;
        margin-top: 7%;
}
hr {
    width: 30%;
    border: solid black 1px;
}
h3,h4,h5 {
    text-align:center;
    font-size: 18px;
}
table {
    border-collapse: collapse;
    font-family: 'Roboto Condensed', sans-serif;
}
td {
    border: 1px solid #393e46;
}
th, td {
    padding: 10px;
    text-align: left;
  }
  tr:nth-child(even) {
    background-color: #00adb5;
  }
  tr:nth-child(odd) {
    background-color: #eeeeee;
}
text {
    color: #222831;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  a {
      margin-left: 25%;
      color: #222831;
  }
  .container {
      width:30%;
      margin-left:auto;
      margin-right:auto;
  }